p {
    color: black !important;
}
.post {
    margin-top: 15px;
    background-color: #d8d3ff;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
    color: black;
}

.post__top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.post__avatar {
    margin-right: 10px;
}

.post__topInfo > h3 {
    font-size: medium;
}

.post__topInfo > p {
    font-size: small;
    color: gray;
}

.post__bottom {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
}

.post__image > img {
    width: 100%;
}

.post__likes {
    display: flex;
    align-items: center;
    padding: 5px;
}

.post__likes > p {
    font-size: small;
    align-items: center;
    padding: 2px 5px;
}

.post__options {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: white;
    cursor: pointer;
    padding: 8px;
}

.post__option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}

.post__option > p {
    margin-left: 10px;
}

.post__option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
}

.post__commentBox {
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
}

.post__commentBox > form {
    flex: 1;
    display: flex;
}

.post__commentBox > form > input {
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}

.post__commentBox > form > button {
    display: none;
}

@media (max-width: 1200px) {
    .post__commentBox > form > button {
        display: visible;
    }
}

.post__commentInput {
    flex: 1;
}

.comments__show .container__comments {
    display: flex;
    flex-direction: column;
    outline-width: 0;
    border: none;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
    width: auto;
    padding: 0 8px;
}

.comments__show {
    display: flex;
    flex: 1;
    margin-top: 20px;
}

.comments__show.myself {
    display: flex;
    flex-direction: row;
    border-left: 2px solid #440a67;
    padding-left: 15px;
    margin-left: -15px;
}

.container__comments p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 16px;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}

.container__comments span {
    color: #385898;
    font-weight: 700;
}

.like.blue {
    color: #440a67;
}

.textforlike.bluetextforlike {
    color: #440a67;
}

.post__notLiked {
    display: flex;
    flex-direction: row;
    height: 28px;
    width: 150px;
    justify-content: center;
    padding-top: 6px;
}

.post__notLiked:hover {
    background-color: #e9e9e9;
}

.post__comment:hover {
    cursor: pointer;
}

.post__share:hover {
    cursor: pointer;
}

.post__comment {
    display: flex;
    flex-direction: row;
    height: 28px;
    width: 150px;
    justify-content: center;
    padding-top: 6px;
}

.post__comment:hover {
    background-color: #e9e9e9;
}

.post__comment > h3 {
    font-size: 13px;
    color: #606770;
    font-weight: 600;
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.post__comment > h3:hover {
    cursor: pointer
}

.post__share {
    display: flex;
    flex-direction: row;
    height: 28px;
    width: 150px;
    justify-content: center;
    padding-top: 6px;
}

.post__share > h3 {
    font-size: 13px;
    color: #606770;
    font-weight: 600;
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
}

.post__share > h3:hover {
    cursor: pointer
}

.post__share:hover {
    background-color: #e9e9e9;
}

.post__commentInput {
    border-radius: 20px;
    border: 1px solid white;
    outline: none;
    background-color: #F2F3F5;
    height: 27px !important;
    width: 417px;
    padding: 5px;
}
