.video__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    align-items: center;
    margin-top: 20px;
}

.video__card {
    width: 600px;
    margin: 12px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: -40px;
    color: white;
}

.sharescreen-btn {
    background-color: #440a67;
    border: none;
    color: white;
    padding: 7px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    opacity: 1;
    margin-top: 10px;
}
.sharescreen-btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  opacity: 0.6;
}

.video-options {
    margin-top: 10px;
    margin-left: 8px;
}

.options-div > img {
    height: 30px;
}

.options-div {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 0 10px;
    background-color: aliceblue;
}

.options-div:hover {
    color: #D8D3FF;
    background-color: #440a67;
}